.page-title {
  font-family: 'Lato-Regular';
  font-size: 1.5rem;
  letter-spacing: 0.055rem;
  color: #ffffff;
}

.page-title-margin {
  margin-top: 75px;
}

.not-found {
  color: white;
}

.invoices-title-margin {
  margin-left: 13px;
}

.invoices-status {
  font-family: 'Lato-Light';
  letter-spacing: 0.025rem;
  margin-left: 10px;
  color: white;
}

.center {
  align-items: center;
  display: flex;
}

.bg-login {
  width: 100vw;
  height: 100vh;
  background-color: #363636;
}

.center-inside {
  margin-left: calc(50vw - 8.25rem);
  margin-top: -3.5rem;
}