.side-bar-layout {
    height: auto;
    left: 0;
    width: 250px;
    padding-left: 10px;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .side-bar-bg {
    background-color: #2C2C2C;
  }

  .side-bar-font {
    font-family: 'Lato-Light';
    font-size: 1.0rem;
    letter-spacing: 0.035rem;
  }

  .side-bar-layout::-webkit-scrollbar {
    display: none;
  }

  .side-bar-layout {
    -ms-overflow-style: none;
  }

  .icon-text-wrapper {
    display: flex;
  }

  .active {
    font-family: 'Lato-Bold';
  }

  .side-bar-color {
    color: white;
  }

  .side-bar-color:hover {
    background-color: #363636;
  }

  #app-title {
    font-family: 'Lato-Bold';
    font-size: 1.65rem;
  }

  .title-margin {
    margin-top: 20px;
  }

  .authority-margin-top {
    margin-top: -10px;
  }